<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Admin Branch - Appointments</title>
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="../vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <link href="../vendor/css/sb-admin.css" rel="stylesheet">
</head>
<body id="page-top">
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
  <a class="navbar-brand mr-1" th:href="@{/admin-branch/doctor-details}">Doctor+ Admin Branch</a>
  <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle"><i class="fas fa-bars"></i></button>
  <ul class="navbar-nav ml-auto ml-md-0">
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown">
        <i class="fas fa-user-circle fa-fw"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        <div class="dropdown-divider"></div>
        <form th:action="@{/logout}" method="post">
          <button class="dropdown-item" type="submit">Logout</button>
        </form>
      </div>
    </li>
  </ul>
</nav>

<div id="wrapper">
  <ul class="sidebar navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" th:href="@{/admin-branch/appointments}">
        <i class="fas fa-fw fa-calendar"></i><span>Appointments</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/admin-branch/doctor-details}">
        <i class="fas fa-fw fa-user-md"></i><span>Doctor Details</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/admin-branch/add-doctor}">
        <i class="fas fa-fw fa-plus"></i><span>Add Doctor</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/admin-branch/edit-my-profile}">
        <i class="fas fa-fw fa-user"></i><span>My Profile</span>
      </a>
    </li>
  </ul>

  <div id="content-wrapper">
    <div class="container-fluid">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/admin-branch/doctor-details}">Dashboard</a></li>
        <li class="breadcrumb-item active">Appointments</li>
      </ol>

      <div class="card mb-3">
        <div class="card-header"><i class="fas fa-table"></i> Data Table</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
              <tr>
                <th>Id</th><th>Name</th><th>Email</th><th>Date</th><th>Time</th><th>Description</th><th>Reg. Time</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="temp : ${app}">
                <td th:text="${temp.id}"></td>
                <td th:text="${temp.name}"></td>
                <td th:text="${temp.email}"></td>
                <td th:text="${temp.date}"></td>
                <td th:text="${temp.time}"></td>
                <td th:text="${temp.description}"></td>
                <td th:text="${temp.regtime}"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Doctor+</div>
      </div>
    </div>
  </div>
</div>

<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="../vendor/chart.js/Chart.min.js"></script>
<script src="../vendor/datatables/jquery.dataTables.js"></script>
<script src="../vendor/datatables/dataTables.bootstrap4.js"></script>
<script src="../vendor/js/sb-admin.min.js"></script>
<script src="../vendor/js/demo/datatables-demo.js"></script>
<script src="../vendor/js/demo/chart-area-demo.js"></script>
</body>
</html>
