<th:block th:fragment="recordModal">
<div class="modal fade account-page-modal" id="recordModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title"><i class="fas fa-file-medical mr-2"></i> Medical Record Details</h5>
        <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div id="recordContent">
          <p class="text-center text-muted">Loading data...</p>
        </div>
      </div>
    </div>
  </div>
</div>
</th:block>
